<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/user/login" method="post">
	  <div>
      <label>Email</label>
      <input type="text" name="email">
  	</div>
  	<div>
     	<label>Password</label>
      <input type="text" name="password"> <!-- change type to password later -->
  	</div>
  	<div>
	  	<button type="submit">Login</button>
	  </div>
	</form>

    <a href="./signup">Signup</a>
    <a href="./">Home</a>

</body>
</html>