* {
	margin: 0;
	padding: 0;
}
body {
	background-color: cornsilk;
	font-family: "drakeFont";
}
h1 {
	font-size: 4em;
}
a {
	font-size: 1.5em;
	text-decoration: none;
}
a:hover {
	text-decoration:line-through
}
#container {
	text-align: center;
	margin-top: 5em;
}
input.typeform, select{
	font-size: 1.1em;
	width: 20em;
	/*margin-top: 1em;*/
}
#search-form {
	margin-top: 2em;
}