<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<title>Search</title>
</head>
<body>
<header>
	<h1>Search for some restaurants</h1>
</header>
<!-- need to make important things for yelp query -->
<nav class="main-nav">
	<ul>
		<li><a href="/user">Profile</a></br></li>
		<li><a href="/user/yelp/">Make a search</a></li>
		<li><a href="/user/add">Add Friend</a></li>
		<li><a href="/user/edit">Edit Profile</a></li>
		<li><a href="/user/logout">Logout</a></li>	</ul>
</nav>

	<div id="container">

	<% if (message.length > 0) { %>
      <div class="error-alert">
        <%= message %>
      </div>
    <% } %>

		<div id="search-form">
			<form action="/user/yelp/index" method="post">
				<input class="typeform" type="text" name="term" placeholder="Chinese, italian, perhaps Halal Guys?"></br>
				<input class="typeform" type="text" name="location" placeholder="Where do you wanna grub?"></br>
				<select name="sort">
				  <option value="0">Best Match</option>
				  <option value="1">Distance</option>
				  <option value="2">HYPE!!</option>
				</select></br>
				<select name="radius_filter">
				  <option value="5">5 Miles</option>
				  <option value="10">10 Miles</option>
				  <option value="15">15 Miles</option>
				  <option value="20">20 Miles</option>
				  <option value="25">25 Miles</option>
				</select></br>
				<button class="bottom-buttons">Search</button>
				<button class ="bottom-buttons" type="reset">Reset</button>
			</form>
		</div>
	</div>


</body>
</html>