<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/master.css">
	<title>Search</title>
</head>
<body>
<header>
	<h1>Search for some restaurants</h1>
</header>
<!-- need to make important things for yelp query -->
<nav class="main-nav">
	<ul>
		<li><a href="/user">Profile</a></br></li>
		<li><a href="/user/logout">Logout</a></li>
	</ul>
</nav>


	<div id="container">
		<div id="search-form">
			<form action="/user/yelp/index" method="post">
				<input class="typeform" type="text" name="term" placeholder="Chinese, italian, perhaps Halal Guys?"></br>
				<input class="typeform" type="text" name="location" placeholder="Where do you wanna grub?"></br>
				<select name="sort">
				  <option value="0">Best Match</option>
				  <option value="1">Distance</option>
				  <option value="2">HYPE!!</option>
				</select></br>
				<select name="radius_filter">
				  <option value="5">5 Miles</option>
				  <option value="10">10 Miles</option>
				  <option value="15">15 Miles</option>
				  <option value="20">20 Miles</option>
				  <option value="25">25 Miles</option>
				</select></br>
				<button class="button">Search</button>
				<input type="reset">
			</form>
		</div>
	</div>


</body>
</html>