<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/master.css">
	<title></title>
</head>
<body>
		<div id="container">
		<h1>Search for friend</h1>
		<div id="search-form">
			<form action="/user/add" method="post">
				<input class="typeform" type="text" name="email" placeholder="search by email"></br>
				<input type="reset"></br>
				<button class="button">Search</button>
			</form>
		</div>
		<a href="/user">Profile</a></br>
		<a href="/user/logout">Logout</a>
	</div>
</body>
</html>