<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/master.css">
	<title></title>
</head>
<body>
<header>
			<h1>Search for friend</h1>
</header>
<nav class="main-nav">
	<ul>
		<li><a href="/user">Profile</a></br></li>
		<li><a href="/user/yelp/">Make a search</a></li>
		<li><a href="/user/add">Add Friend</a></li>
		<li><a href="/user/edit">Edit Profile</a></li>
		<li><a href="/user/logout">Logout</a></li>	</ul>
</nav>
	<div id="container">
		<div id="search-form">
			<form action="/user/add" method="post">
				<input class="typeform" type="text" name="email" placeholder="search by email"></br>
				<button class="bottom-buttons">Search</button>
				<button class ="bottom-buttons" type="reset">Reset</button>
			</form>
		</div>
	</div>
</body>
</html>