<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<title>404 ERROR</title>
</head>
<body>
<header>
	<h1>404 ERROR</h1>
</header>
<div id="container">
	<img id="freg" src="/images/freg.jpg"></br>
	<a href="/">Take me to Safety</a>
</div>
</body>
</html>