<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"> -->
	<title>Time to Eat</title>
</head>
<body>

	<div id="intro-page-container">
		<h1>If you're reading this it's time to eat</h1>
		<div class="dasixclass">
			<img src="/images/dasix.png" id="dasix">
		</div>
		<div class="intro-class">
			<a href="/user/login">Login</a>
		</div>
		<div class="intro-class">
			<a href="/user/signup">Signup</a>
		</div>
		
	</div>

</body>
<footer>&copy; <a href="https://github.com/wongkoty">Koty</a></footer>
</html>