<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<title>Profile</title>
</head>
<body>
<header>
	<h1>What would you like to do?</h1>
</header>
<nav class="main-nav">
	<ul>
		<li><a href="/user">Profile</a></br></li>
		<li><a href="/user/yelp/">Make a search</a></li>
		<li><a href="/user/add">Add Friend</a></li>
		<li><a href="/user/edit">Edit Profile</a></li>
		<li><a href="/user/logout">Logout</a></li>
	</ul>
</nav>

<div id="container">
</div>


</body>
</html>