<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>What would you like to do?</h1></br>

<a href="/user/yelp/">Make a search</a></br>
<a href="/user/logout">Logout</a></br>
<a href="/user/edit">Edit Profile</a>



</body>
</html>