<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
profile page</br>

<a href="/user/yelp/">Make a search</a>
<a href="/user/logout">Logout</a></br>


	<div id="sign-up">
	 <form action="/user/profile" method="post">
 		<div>
      <label>First Name</label>
      <input type="text" name="first_name" value="<%= data.first_name %>">
	  </div>
	  <div>
	  	<label>Last Name</label>
	    <input type="text" name="last_name" value="<%= data.last_name %>">
	  </div>
	  <div>
	    <label>Phone Number</label>
	    <input type="text" name="phone_number" value="<%= data.phone_number %>">
	  </div>
	  <div>
	      <label>Email</label>
	      <input type="text" name="email">
	  </div>
	  <div>
	      <label>Password</label>
	      <input type="password" name="password">
	  </div>
	  <input type="hidden" name="_method" value="put">
    <button type="submit">Signup</button>
  </form>
	</div>


</body>
</html>