<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/master.css">
	<title></title>
</head>
<body>

<div id="container">
	<h1>What would you like to do?</h1></br>
	<ul>
		<li><a href="/user/yelp/">Make a search</a></li>
		<li><a href="/user/add">Add Friend</a></li>
		<li><a href="/user/edit">Edit Profile</a></li>
		<li><a href="/user/logout">Logout</a></li>
	
	</ul>
</div>


</body>
</html>