<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<title>Sign Up</title>
</head>
<body>



<div id="container">
	<h1>Sign Up </h1></br>
	 <form action="/user/signup" method="post">
			 <% if (message.length > 0) { %>
			The following errors occured: </br>
			<div class='error-alert'>
			<%	for(i = 0; i < message.length; i++) { %>
		        <li class="errors"><%= message[i].msg %></li></br>
		 <% } %>
		 </div>
		<% } %>
	 		<div>
	      <label>First Name</label>
	      <input type="text" name="first_name">
		  </div>
		  <div>
	      <label>Last Name</label>
	      <input type="text" name="last_name">
		  </div>
		  <div>
	      <label>Phone Number</label>
	      <input type="text" name="phone_number">
		  </div>
		  <div>
		      <label>Email</label>
		      <input type="text" name="email">
		  </div>
		  <div>
		      <label>Password</label>
		      <input type="password" name="password" placeholder"min 6 characters">
		  </div>
		   <div>
		      <label>Confirm Password</label>
		      <input type="password" name="password2" placeholder"min 6 characters">
		  </div>
	    <button type="submit">Signup</button>
	  </form>
	  <div class="bottom-buttons">
	 		<a href="./">home</a>
		  <a href="./login">Login</a>
		</div>
</div>
</body>
</html>